@import "tailwindcss";

@font-face {
  font-family: 'Sufrimeda';
  src: url('/fonts/sufrimeda.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-sufrimeda {
  font-family: 'Sufrimeda', ui-sans-serif, system-ui, sans-serif;
}

@keyframes loading {
  0% {
    width: 0%;
    margin-left: 0%;
  }
  50% {
    width: 100%;
    margin-left: 0%;
  }
  100% {
    width: 0%;
    margin-left: 100%;
  }
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
    width: 30%;
  }
  50% {
    transform: translateX(0%);
    width: 100%;
  }
  100% {
    transform: translateX(100%);
    width: 30%;
  }
}